<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order Management</title>
</head>
<body>
    <form action="newOrder" method="GET">
        <p>New Order</p>
        <p>Order ID: <input type="number" name="orderID"></p>
        <p><input type="submit" name="newOrder"></p>
    </form>

    <form action="outputOrder" method="GET">
        <p>Output Order</p>
        <p><input type="submit" name="outputOrder"></p>
    </form>

    <form action="retrieveOrder" method="GET">
        <p>Retrieve Order</p>
        <p>Order ID: <input type="number" name="orderID"></p>
        <p><input type="submit" name="retrieveOrder"></p>
    </form>

    <form action="setAddress" method="GET">
        <p>Set Address</p>
        <p>City: <input type="text" name="city"></p>
        <p>State: <input type="text" name="state"></p>
        <p>Country: <input type="text" name="country"></p>
        <p>Address: <input type="text" name="address"></p>
        <p><input type="submit" name="setAddress"></p>
    </form>

    <form action="setPaymentMethod" method="GET">
        <p>Set Payment Method</p>
        <p>Credit Card: <input type="text" name="creditCard"></p>
        <p><input type="submit" name="setPaymentMethod"></p>
    </form>

    <form action="addItem" method="GET">
        <p>Add Current Item</p>
        <p>Quantity: <input type="number" name="orderQuantity"></p>
        <p><input type="submit" name="addItem"></p>
    </form>

    <form action="addItemWithID" method="GET">
        <p>Add Item Through ID</p>
        <p>Inventory ID: <input type="number" name="inventoryID"></p>
        <p>Quantity: <input type="number" name="orderQuantity"></p>
        <p><input type="submit" name="addItemWithID"></p>
    </form>

    <form action="removeItem" method="GET">
        <p>Remove Current Inventory Item</p>
        <p><input type="submit" name="removeItem"></p>
    </form>

    <form action="removeItemWithID" method="GET">
        <p>Remove Inventory Item With ID</p>
        <p><input type="number" name="inventoryID"></p>
        <p><input type="submit" name="removeItemWithID"></p>
    </form>

    <form action="changeItemQuantity" method="GET">
        <p>Change Current Inventory Item Quantity</p>
        <p>Quantity: <input type="number" name="orderQuantity"></p>
        <p><input type="submit" name="changeItemQuantity"></p>
    </form>

    <form action="changeItemQuantityWithID" method="GET">
        <p>Change Inventory Item Quantity with ID</p>
        <p>Inventory ID: <input type="number" name="inventoryID"></p>
        <p>Quantity: <input type="number" name="orderQuantity"></p>
        <p><input type="submit" name="changeItemQuantityWithID"></p>
    </form>

    <form action="finalizeOrder" method="GET">
        <p>Finalize Order</p>
        <p><input type="submit" name="finalizeOrder"></p>
    </form>

    <form action="deductInventory" method="GET">
        <p>Deduct Inventory</p>
        <p><input type="submit" name="deductInventory"></p>
    </form>
</body>
</html>